@font-face {
  font-family: sahel;
  src: url(/assets/fonts/SAHEL.TTF);
  font-weight: normal;
}

@font-face {
  font-family: sahel;
  src: url(/assets/fonts/SAHEL-BOLD.TTF);
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(29, 34, 61);
  --input-bg-color: rgb(24, 28, 46);
  --title-bar-height: 25px;
}

button,
input,
select,
option,
optgroup,
textarea,
label {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  outline: none;
  font-weight: inherit;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

summary {
  cursor: pointer;
}

div::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  border-radius: 10px;
  height: 3px;
}
div::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
  border-radius: 10px;
}

html {
  height: 100vh;
}

body {
  direction: rtl;
  font-family: sahel, '2 Yekan', 'b nazanin', 'Times New Roman', Times, serif;
  color: rgb(214, 214, 214);
  background-color: var(--bg-color);
  overflow: hidden;
  position: relative;
  height: calc(100% - var(--title-bar-height));
  margin: 0;
  margin-top: var(--title-bar-height);
}

#root {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

/* 
   =====================================
               TITLE BAR STYLES
   =====================================
*/

#title-bar {
  direction: rtl;
  background-color: rgb(57 65 93);
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  right: 0;
}
#title-bar {
  user-select: none;
  -webkit-user-select: none;
  height: var(--title-bar-height);
  padding: 3px 10px;
}

.app-title {
  color: #a6b4cb;
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
  -webkit-app-region: drag;
}

#title-bar-buttons > button {
  padding: 0;
  width: 12px;
  height: 100%;
  position: relative;
  margin: 0 5px;
}

#title-bar-buttons > button svg {
  fill: #a6b4cb;
}
#title-bar-buttons > button:hover svg {
  fill: rgb(211, 97, 97) !important;
}

/* 
   =====================================
               HEADER STYLES
   =====================================
*/

header#header {
  margin: 20px 10px 0 10px;
  background-color: rgb(30, 39, 70);
  padding: 20px 10px;
  border-radius: 10px;
}
.publishers {
  text-align: center;
  font-weight: bold;
}

.ausmt-love {
  text-align: center;
  font-size: 0.8em;
  margin-top: 20px;
}
.ausmt-love img {
  width: 25px;
  vertical-align: middle;
  aspect-ratio: 1/1;
}

.header-title {
  text-align: center;
}

.logos {
  display: flex;
  justify-content: space-around;
}
.header-logos {
  background-color: rgb(235, 235, 235);
  padding: 0 50px;
}

.header-logos img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.about {
  background-color: #233d43;
  border-radius: 10px;
  padding: 10px 30px;
  text-align: justify;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  line-height: 30px;
  width: 80%;
}

/* 
   ===========================================================
               MAIN JOURNAL FORM STYLES
   ===========================================================
*/

main#main {
  padding: 10px;
}

#form-wrapper {
  position: relative;
}

.waiting-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgb(16 16 16 / 87%);
  z-index: 110;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-extraction {
  background-color: #73304e;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}

.display-extraction:hover {
  background-color: #a32a60;
}

.address-hints {
  font-size: 0.9em;
  background-color: #1e2746;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.en-in-fa {
  position: relative;
  font-weight: bold;
}

.en-in-fa::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #af3939;
  height: 3px;
  border-radius: 5px;
  width: 100%;
}

.address-hint-list {
  padding: 0px 30px;
}
.address-hint-list li {
  margin: 5px 0;
  font-size: 12px;
}

.extract-btn-wrapper {
  display: flex;
  z-index: 100;
  justify-content: space-between;
  background-color: #1a1f37;
  padding: 10px 20px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#extract-btn {
  padding: 5px 30px;
  border-radius: 5px;
  background-color: rgb(39, 130, 74);
  margin: 10px;
}

#extract-btn:hover {
  background-color: rgb(29, 88, 52);
}

form.journal-form {
  margin: 10px auto;
}

.journal-form-header {
  text-align: center;
  position: relative;
  padding: 15px 30px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 0 auto;
  width: fit-content;
}

.journal-form-header::after {
  display: block;
  content: '';
  background-color: #111522;
  height: 5px;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.journal-url-row {
  margin: 5px;
}

.journal-main-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.journal-url-index {
  width: 30px;
  text-align: center;
}

.journal-url-input {
  background-color: var(--input-bg-color);
  border-radius: 5px;
  padding: 3px 10px;
  width: 80%;
  margin: 0 5px;
  position: relative;
}
.journal-url-input input {
  width: 100%;
  height: 100%;
}

.remove-url-btn path {
  fill: rgb(201, 64, 64);
}
.remove-url-btn:hover path {
  fill: rgb(207, 29, 29);
}

.journal-url-input span {
  position: absolute;
  right: 5px;
  font-size: 0.8em;
  top: 5px;
  color: rgba(214, 213, 213, 0.5);
}

.journal-url-hint {
  color: rgb(194, 194, 194);
  margin-right: calc(10% + 5px);
  margin-top: 5px;
  font-size: 0.9em;
  direction: rtl;
}
.journal-url-hint span {
  background-color: rgb(173, 56, 56);
  display: block;
  border-radius: 3px;
  width: fit-content;
  margin-top: 5px;
}

#add-new-url-btn {
  background-color: #21688a;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  padding: 15px 30px;
}

#add-new-url-btn:hover {
  background-color: #235972;
}

.btn,
*[data-open] {
  position: relative;
}

.btn:hover,
*[data-open]:hover {
  cursor: pointer;
}

.btn::after,
*[data-open]::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: absolute;
}

.hidden {
  display: none !important;
}

.en-in-fa {
  direction: ltr;
  text-align: left;
  display: inline-block;
}

.extracter-url-help,
.address-helper-input-hint {
  margin: 6px 0;
  background-color: rgb(62 85 113);
  padding: 2px 5px;
  border-radius: 3px;
  width: fit-content;
}

.address-helper {
  background-color: rgb(17 17 45);
  padding: 5px 10px;
  border-radius: 5px;
  color: #c7c7c7;
}

.address-helper-form {
  padding: 10px;
  margin-bottom: 5px;
}
.address-helper-input,
.output-url {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  direction: ltr;
  background-color: #505577;
}

.--ahi-url-- {
  width: 100%;
  display: block;
}

.output-url {
  background-color: rgb(128 159 171);
  color: #161616;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address-convert-form select {
  background-color: rgb(34, 34, 70);
  border: 1px solid rgb(78 78 111);
  direction: ltr;
}

.address-convert-form input,
.address-convert-form select {
  width: 200px;
}

.address-convert-form label {
  width: 140px;
  text-align: center;
  display: inline-block;
}
.output-url {
  position: relative;
}

.output-url:hover {
  background-color: rgb(64, 150, 93);
  transition: 0.3s;
}

.output-url:hover::after {
  content: 'کپی کنید';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.664);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
}

.extracter-name {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  width: 60px;
  margin-left: 10px;
  color: rgb(209 140 146);
  position: relative;
}
.extracter-name::after {
  content: ':';
  display: inline;
  margin-right: 5px;
  position: absolute;
  left: -5px;
}

.sample-valid-hints {
  --svu-bg: rgb(205 215 229);
  background-color: var(--svu-bg);
  color: rgb(73, 72, 72);
  position: relative;
  padding: 5px 10px;
  padding-top: 15px;
  white-space: nowrap;
  margin: 0 auto;
  width: 80%;
  font-size: 14px;
}

.sample-valid-url {
  background-color: rgb(156, 176, 205);
  border-radius: 3px;
  padding: 3px;
  color: #272727;
  font-weight: bold;
}

.--svu-more-info-- {
  background-color: rgb(156 176 205);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  counter-reset: svuNote;
}

.--svu-info-item-- {
  background-color: rgb(205 215 229);
  padding: 3px 5px;
  border-radius: 3px;
  margin: 5px 0;
  counter-increment: svuNote;
}
.--svu-info-item--::before {
  content: counter(svuNote);
  display: inline-block;
  background-color: rgb(156 176 205);
  padding: 3px 5px;
  margin-left: 5px;
  width: 20px;
  text-align: center;
  color: #2b4867;
  font-weight: bold;
  border-radius: 3px;
}

.--svu-title-- {
  direction: rtl;
  background-color: var(--svu-bg);
  padding: 2px 5px;
  font-weight: bold;
  border-radius: 3px 3px 0 0;
  text-align: center;
  margin: 5px 0;
  margin-bottom: 10px;
}

.--svu-url-- {
  direction: ltr;
  text-align: left;
  counter-reset: urlPart;
  position: relative;
}

.--svu-url--::before {
  content: 'آدرس نمونه';
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  font-weight: normal;
  font-size: 12px;
  color: rgba(66, 65, 65, 0.8);
}

.--svu-part-- {
  display: inline-block;
  background-color: rgb(205, 215, 229);
  padding: 2px 4px;
  border-radius: 3px;
  color: #2b4867;
  font-weight: bold;
  position: relative;
  counter-increment: urlPart 1;
  margin: 0 2px;
}

.--svu-part--::before {
  content: counter(urlPart);
  background-color: rgb(205, 215, 229);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  width: 15px;
  font-size: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.144);
}

#close-sample-hints {
  width: 25px;
  padding: 5px;
  fill: #cb5151;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 28px;
}

#close-sample-hints:hover {
  fill: rgb(165, 58, 58);
  background-color: rgba(238, 218, 218, 0.815);
  border-radius: 5px;
}

.--svu-hint--,
.--svu-plus-- {
  white-space: wrap;
  display: block;
  font-size: 12px;
  background-color: rgb(183 77 77);
  margin: 5px 0;
  border-radius: 3px;
  padding: 3px;
  color: white;
}

.--svu-plus-- {
  background-color: rgb(35, 126, 70);
}

.author-count {
  background-color: rgba(43, 70, 121, 0.226);
  text-align: center;
  padding: 3px 5px;
  width: 60px;
  border-radius: 5px;
}

#extraction-options > div {
  margin: 5px 0;
}

.what::before {
  content: '؟';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.what {
  display: inline-block;
  position: relative;
  padding: 5px;
  vertical-align: middle;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background-color: #23364b;
  border-radius: 30px;
}

.what-db {
  position: absolute;
  width: 300px;
  font-size: 14px;
  background-color: #313443;
  padding: 6px;
  text-align: justify;
  border-radius: 10px;
  top: 0;
  transform: translateY(-100%);
  z-index: 1000;
}

.extract-speed-opt select {
  border-radius: 5px;
  color: #121021;
  cursor: pointer;
  background-color: rgb(223, 215, 215);
}

.what-db-title {
  color: rgb(199, 216, 159);
}

/*
  ===================================================
                    Footer Styles
  ===================================================
*/

.ack {
  /* position: absolute; */
  /* bottom: 10px; */
  text-align: center;
  font-size: 13px;
  width: 100%;
  margin-bottom: 10px;
}

.ack a {
  font-weight: bold;
  color: rgb(125, 199, 115);
}

.ack svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

/*
  ===================================================
                  Animations
  ===================================================
*/

.highligt-input-animation {
  position: relative;
  animation: hia 0.6s ease-in-out infinite;
}

.highligt-input-animation::before {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes hia {
  0% {
    opacity: 0;
  }

  50% {
    background-color: rgb(211, 70, 70);
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

/*
  ===================================================
                  Extracted Authors list
  ===================================================
*/

.extracted-list {
  background-color: rgb(47 53 73);
  position: fixed;
  top: calc(var(--title-bar-height) + 10px);
  left: 10px;
  bottom: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.extracted-list > * {
  padding: 10px 5px;
}

.extracted-list-header-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.close-extracted-list-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  padding: 7px;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

.close-extracted-list-btn:hover {
  background-color: #9b628b;
  transition: 0.3s;
}

.extracted-items-icon {
  width: 30px;
  margin: 0 5px;
  transform: rotateY(180deg);
}
.extracted-items-icon svg {
  fill: #c3d1eb;
}

.extracted-list-header h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.extracted-list-header span {
  font-size: 0.8em;
}

.extracted-list-view {
  overflow: auto;
}

.author-info {
  background-color: rgb(76, 84, 110);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
}

.author-info-row {
  display: flex;
  margin: 3px 0;
  flex-direction: row;
  align-items: baseline;
}

.author-info-row .--air-more-- {
  white-space: nowrap;
}

.--air-icon-- {
  width: 20px;
  min-width: 20px;
}

.--air-icon-- svg {
  color: #1f1c29;
  fill: #1f1c29;
  vertical-align: middle;
}

.author-index {
  width: 20px;
  border-radius: 3px;
  background-color: #1f1c29;
  text-align: center;
}

.author-info .--ai-lbl-- {
  margin: 0 5px;
}
.author-info .--ai-lbl--::after {
  content: ':';
}

.author-fname {
  direction: ltr;
}

.author-fullname {
  display: flex;
}

/*
  ===================================================
                  Extracted Excel
  ===================================================
*/

#extracted-excels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.extracted-excel-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  color: rgb(214, 214, 214);
  width: 320px;
  margin: 5px;
  background-color: #121021;
  border-radius: 5px;
  padding: 5px;
}

.extracted-excel-item img {
  width: 80px;
  margin-left: 10px;
}

.extraced-excel-description {
  max-width: 210px;
}

.--eed-count-title-- {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extraced-excel-description .--eed-path-- {
  text-align: left;
  direction: ltr;
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.extraction-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.--ser-message-- {
  background-color: #4d7d3e;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
}

.--ser-sub-message-- {
  font-size: 0.8em;
  color: rgb(235, 161, 161);
  text-align: center;
}

.extraction-result > * {
  margin: 5px;
}
.--ser-btn-- {
  cursor: pointer;
  padding: 5px 10px;
  display: block;
  transition: 0.1s;
}

.--ser-open-btn-- {
  background-color: #417a87;
  border-radius: 3px;
  box-shadow: 3px 3px #0e2b3d;
}

.--ser-open-btn--:hover {
  box-shadow: 0px 0px 11px #0e2b3d;
  background-color: #204149;
}

.--ser-close-btn-- {
  color: #ddd9da;
}

.--ser-close-btn--:hover {
  color: #cf5574;
}

.--fer-message-- {
  background-color: #5f1414;
  border-radius: 5px;
  padding: 5px 15px;
  color: #f1b951;
}
